@keyframes slideIn{
  0%{
    transform: skew(20deg) translate(-500px);
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skew(0deg) translate(30px);
  }
  70%{
    transform: skew(-20deg) ;
  }
  80%{
    transform: skew(0deg) ;
  }
  100%{
    transform: skew(0deg);
  }
}

.item-slide-in{
  animation: slideIn .7s ease-in ;
}
